
<form class="container py-3" ng-submit="addOrUpdateProduct(product)">
    <h2 class="py-3" ng-if="product && product.id">Edit {{product.title}}</h2>
    <h2 class="py-3" ng-if="!product || !product.id">Add Product</h2>

    <div class="form-group">
        <label for="inputTitle">Title</label>
        <input type="text" class="form-control" id="inputTitle" ng-model="product.title" required autofocus>
    </div>
    <div class="form-group">
        <label for="inputUrl" >Url</label>
        <input type="text" class="form-control" id="inputUrl" ng-model="product.url" required>
    </div>
    <div class="form-group">
        <label >Images URL</label><br>
        <small>Can add upto 4 images</small>
        <input type="text" placeholder="1st image url" class="form-control" id="inputImage1" ng-model="product.images[0]" required>
        <input type="text" placeholder="2nd image url" class="form-control my-2" id="inputImage2" ng-model="product.images[1]" ng-if="product.images[0]">
        <input type="text" placeholder="3rd image url" class="form-control mb-2" id="inputImage3" ng-model="product.images[2]" ng-if="product.images[1]">
        <input type="text" placeholder="4th image url" class="form-control" id="inputImage4" ng-model="product.images[3]" ng-if="product.images[2]">
    </div>
    <div class="form-group">
        <label for="inputPrice">Price</label>
        <input type="number" class="form-control" id="inputPrice" ng-model="product.price" required>
    </div>

    <div class="form-group">
        <label for="inputMsrp">msrp</label>
        <input type="number" class="form-control" id="inputMsrp" ng-model="product.msrp" required>
    </div>
    <div class="form-group">
        <div class="input-group">
            <span class="pr-3">Is available?</span>
            <div class="input-group-prepend">
                <div class="input-group-text">
                    <input type="checkbox" aria-label="isAvailable" ng-model="product.available">
                </div>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label for="inputDesciption">Description</label>
        <input type="text" class="form-control" id="inputDesciption" ng-model="product.description" required>
    </div>
    <div class="form-group row">
        <div class="col-6">
            <label for="inputCategory">Category</label>
            <select id="inputCategory" class="custom-select custom-select-lg mb-3" 
            ng-model="product.category"
            ng-options="category.title for category in categories track by category.id" required>
              </select>
        </div>
        <div class="col-6">
            <label for="inputMerchant">Merchant</label>
            <select id="inputMerchant" class="custom-select custom-select-lg mb-3" 
            ng-model="product.merchant"
            ng-options="merchant.title for merchant in merchants track by merchant.id" required>
            </select>
        </div>
    </div>
    <a href="#!/product"  class="btn btn-secondary btn-lg">Cancel</a>
    <button type="submit" class="btn btn-primary btn-lg">Save</button>
</form>